body {
    font-family: 'Quicksand', sans-serif;
}

header, #city-title {
    justify-content:center;
    text-align: center;
    font-weight: bold;
}



.five-day-title {
    justify-content:left;
    margin-left: 15px;
    font-weight: bold;

}

#city-name, .card-top p {
    margin-left: 5px;
    font-weight: bold;
}

.card-top {
    background-color: rgb(248, 220, 169);

}

.card-bottom {
    background-color: rgb(147, 232, 232);

}



.card-bottom p {
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;

}

.card-bottom h4 {
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
}

.btn {
    
    justify-content:center;
    text-align: center;
    width: 100%;
    background-color: darkturquoise;
    color: whitesmoke;

}

.form-input {
    justify-content:center;
    text-align: center;
    width: 100%;
}



.dashboard-title { 
    background-color: darkturquoise;
    color: whitesmoke;
     
}

.uvigreen {
    background-color: green;
    color:white;
}

.uviyellow {
    background-color: yellow;
    color:black
}

.uvired {
    background-color: red;
    color: white;
}

