body {
    font-family: 'Libre Bodoni', serif;
}

header, #city-title {
    justify-content:center;
    text-align: center;
}



.five-day-title {
    justify-content:left;
    margin-left: 15px;

}

.card-top p {
    margin-left: 5px;
}

.card-top, .card-bottom {

    background-color: rgb(249, 230, 195);
}

.card-bottom p {
    margin-left: 5px;
    font-size: 12px;

}

.card-bottom h4 {
    margin-left: 5px;
    font-size: 16px;
}

.btn {
    
    justify-content:center;
    text-align: center;
    width: 100%;
    background-color: darkturquoise;
    color: whitesmoke;

}

.form-input {
    justify-content:center;
    text-align: center;
    width: 100%;
}



.dashboard-title { 
    background-color: darkturquoise;
    color: whitesmoke;
     
}

.uvigreen {
    background-color: green;
    color:white;
}

.uviyellow {
    background-color: yellow;
    color:black
}

.uvired {
    background-color: red;
    color: white;
}

