body {
    font-family: 'Merriweather', serif;
}

header {
    justify-content:center;
    text-align: center;
}

#city-name, #currentDay, .five-day-title {
    justify-content:center;
    text-align: center;
}

.card-top p {
    margin-left: 25px;
}

.card-bottom {
    background-color: rgb(254, 244, 246);
}

.card-bottom p {
    margin-left: 5px;
    font-size: 12px;

}

.card-bottom h4 {
    margin-left: 5px;
    font-size: 16px;
}

.btn {
    
    justify-content:center;
    text-align: center;
    width: 100%;
    background-color: darkturquoise;
    color: whitesmoke;

}

.form-input {
    justify-content:center;
    text-align: center;
    width: 100%;
}



.dashboard-title { 
    background-color: darkturquoise;
    color: whitesmoke;
     
}